body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: linear-gradient(45deg, #dcdcdc 25%, transparent 25%, transparent 75%, #dcdcdc 75%, #dcdcdc), linear-gradient(45deg, #dcdcdc 25%, transparent 25%, transparent 75%, #dcdcdc 75%, #dcdcdc);
    background-size: 20px 20px;
    color: #333;
    transition: all 0.3s ease;
    cursor: default;
}

body::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Warna bercahaya (putih dengan transparansi) */
    border-radius: 50%;
    pointer-events: none; /* Agar tidak mengganggu interaksi dengan elemen di bawahnya */
    display: none; /* Defaultnya tidak terlihat, muncul ketika hover */
}

body:hover::before {
    display: block; /* Munculkan ketika kursor di atas body */
    animation: glow 1s infinite alternate; /* Animasi efek bercahaya */
}

body.loading *:not(#loading-container) {
    filter: blur(10px);
}

body.invert-filter {
    filter: invert(1);
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Warna bercahaya (hitam dengan transparansi) */
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8); /* Efek bayangan saat bercahaya */
    }
    to {
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0); /* Efek bayangan saat tidak bercahaya */
    }
}

#loading-container {
    position: absolute;
    z-index: 1000000000000000000000;
    top: 30%;
    filter: drop-shadow(2px 4px 6px darkblue);
    mix-blend-mode: multiply;
}

@keyframes ldio-j5tca63i5ya {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-j5tca63i5ya div { box-sizing: border-box!important }
  .ldio-j5tca63i5ya > div {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    border: 20px solid #000;
    border-color: #3498db transparent #3498db transparent;
    animation: ldio-j5tca63i5ya 1s linear infinite;
  }
  .ldio-j5tca63i5ya > div:nth-child(2) { border-color: transparent }
  .ldio-j5tca63i5ya > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-j5tca63i5ya > div:nth-child(2) div:before, .ldio-j5tca63i5ya > div:nth-child(2) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -20px;
    left: 70px;
    background: #3498db;
    border-radius: 50%;
    box-shadow: 0 180px 0 0 #3498db;
  }
  .ldio-j5tca63i5ya > div:nth-child(2) div:after { 
    left: -20px;
    top: 70px;
    box-shadow: 180px 0 0 0 #3498db;
  }
  .loadingio-spinner-dual-ring-a2dr0a1wii6 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
  }
  .ldio-j5tca63i5ya {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-j5tca63i5ya div { box-sizing: content-box; }
  /* generated by https://loading.io/ */

#dark-mode-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000
}

.menu {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu button {
    padding: 12px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu button:hover {
    background-color: #297fb9;
    transform: translateY(-2px);
}

.content {
    position: relative;
    display: none;
    opacity: 0;
    transform: translateY(20px);
    background-color: #fff;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.content.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 1s ease;
}

.content.exit {
    animation: fadeOutDown 0.5s ease;
    opacity: 0;
    transform: translateY(20px);
    display: none;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.content:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*Last Timezone option/
/Last Timezone option/
/Last Timezone option/
/Last Timezone option/
/Last Timezone option*/

#Timezone .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#date, #time, #timezone {
    margin: 10px;
    font-size: 18px;
    color: #333; /* Warna teks jam */
}

#timezone {
    color: #3498db; /* Warna teks zona waktu */
}

#date {
    color: #7434db; /* Warna teks tanggal */
}

#time {
    color: #333; /* Warna teks waktu */
}

#Timezone:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 5px solid #333; /* Warna garis jam */
    border-radius: 100%;
    margin: 20px auto;
    background-color: #fcfcfc; /* Warna latar belakang jam */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Tambahkan properti latar belakang dan padding */
#clock::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fafafa; /* Warna latar belakang jam */
    border-radius: 50%;
}

/* Efek ketika kursor melewati jam */
#clock:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Bayangan saat kursor melewati jam */
}

/* Efek ketika kursor di atas jam */
#clock:hover::before {
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.5); /* Bayangan saat kursor di atas jam */
}

.hand {
    position: absolute;
    background-color: #3498db; /* Warna jarum jam */
    transform-origin: 50% 100%;
}

#hour, #minute, #second {
    position: absolute;
    background-color: #333; /* Warna jarum jam */
    transform-origin: 50% 100%;
}

#hour {
    height: 50px;
    width: 5px;
    top: 25px; /* Sesuaikan posisi top */
    left: 50%;
    transform-origin: bottom center;
}

#minute {
    height: 70px;
    width: 3px;
    top: 20px; /* Sesuaikan posisi top */
    left: 50%;
    transform-origin: bottom center;
}

#second {
    height: 80px;
    width: 1px;
    background-color: red;
    top: 15px; /* Sesuaikan posisi top */
    left: 50%;
    transform-origin: bottom center;
}

#center-dot {
    position: absolute;
    width: 10px; /* Sesuaikan ukuran titik */
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Pastikan titik di atas jarum */
}

.numbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.numbers div {
    position: absolute;
    transform-origin: 50% 400%;
    width: 20px; /* Sesuaikan lebar angka */
    height: 20px; /* Sesuaikan tinggi angka */
    color: #333; /* Sesuaikan warna angka */
    transition: all 0.3s ease; /* Tambahkan transisi untuk efek animasi */
}

#num1 {
    transform: rotate(30deg) translate(0, -80%);
}

#num2 {
    transform: rotate(60deg) translate(0, -80%);
}

#num3 {
    transform: rotate(90deg) translate(0, -80%);
}

#num4 {
    transform: rotate(120deg) translate(0, -80%);
}

#num5 {
    transform: rotate(150deg) translate(0, -80%);
}

#num6 {
    transform: rotate(180deg) translate(0, -80%);
}

#num7 {
    transform: rotate(210deg) translate(0, -80%);
}

#num8 {
    transform: rotate(240deg) translate(0, -80%);
}

#num9 {
    transform: rotate(270deg) translate(0, -80%);
}

#num10 {
    transform: rotate(300deg) translate(0, -80%);
}

#num11 {
    transform: rotate(330deg) translate(0, -80%);
}

#num12 {
    transform: rotate(360deg) translate(0, -80%);
}

#Timezone, #Clock, #Converter, #Timer, #Alarm {
    text-align: center;
    color: #333;
    transition: all 0.3s ease;
}

/*Last Timezone option/
/Last Timezone option/
/Last Timezone option/
/Last Timezone option/
/Last Timezone option/

/First Calendar option/
/First Calendar option/
/First Calendar option/
/First Calendar option/
/First Calendar option*/

#Calendar {
    text-align: center;
}

.calendarMY {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

#calendarMonthYear {
    margin: 0 10px;
    font-size: 24px;
}

#selectMonth, #inputYear {
    margin: 10px;
    font-weight: bold;
}

#selectMonth, .optn {
    cursor: pointer;
}

.container {
    margin-top: 20px;
}

.container h1 {
    color: #3498db;
    font-size: 24px;
    margin-bottom: 10px;
}

#calendarTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#calendarTable th, #calendarTable td {
    cursor: pointer;
    padding: 15px;
    border: 1px solid #ddd;
}

#calendarTable th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
}

#calendarTable td {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#calendarTable td:hover {
    background-color: #f0f0f0;
}

/* Optional: Add some hover effect to the header cells */
#calendarTable th:hover {
    background-color: #297fb9;
}

/* Modern and Professional Styling */
#calendarTable td, #calendarTable th {
    font-size: 16px;
    text-align: center;
}

#calendarTable th {
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

#calendarTable td {
    padding: 15px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

#calendarTable td:hover {
    background-color: #f0f0f0;
}

#calendarTable .tdCurrentDay {
    background-color: lightblue;
    filter: contrast(1.25);
}

#calendarTable .tdCurrentDay:hover {
    background-color: lightskyblue;
}

/* Responsive Styling */
@media (max-width: 768px) {
    #calendarTable th, #calendarTable td {
        padding: 10px;
        font-size: 14px;
    }

    #calendarTable th {
        font-size: 16px;
    }
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

input, button, select {
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: bold;
}

/*Last Calendar option/
/Last Calendar option/
/Last Calendar option/
/Last Calendar option/
/Last Calendar option/

/First Timer option/
/First Timer option/
/First Timer option/
/First Timer option/
/First Timer option*/

.tmr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Timer {
    text-align: center;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#timer-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#timer-input:focus {
    border-color: #3498db;
}

#timer-output, .tS, .tE, .nameFileAudioS, .nameFileAudioE {
    color: #333;
}

.Timezone, .Calendar, .Timer, .Alarm, .Converter {
    font-weight: 1;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #297fb9;
}

input:hover, select:hover {
    border-color: #297fb9;
}

#Timezone:hover, #Clock:hover, #Converter:hover, #Timer:hover, #Alarm:hover {
    color: #297fb9;
}

.psdT, .rsmT, #resetTimer, .turnoffN0W {
    display: none;
}

.turnoffTA {
    display: none;
}

.customAudio {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    gap: 10px;
}

.columnCATS, .columnCATE {
    margin: 0 5px;
    border: 5px solid lightsteelblue;
}

#audioPlayerF, #audioPlayerL {
    display: none;
}

.tE, .tS, .nameFileAudioS, .nameFileAudioE {
    margin: 10px;
}